<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShieldVPN | Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
    <h1>ShieldVPN</h1>
</header>
<div class="container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="username">
            Username
            <input type="text" id="username" name="username" required>
        </label>

        <label>
            Password
            <input type="password" id="password" name="password" required>
        </label>
        <button type="submit" >Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
</div>
</body>
</html>